@use "./resets";
@use "./variables";
@use "utilities";
@use "./navbar";
@use "./modal";
@use "./form";
@use "./table";
@use "./buttons";
@use "./alert";
@use "./searchForm";
@use "./chip";

//general style

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-200);
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

.container {
  width: 100%;
  margin: 0;
  padding: 3rem;
}

.contentContainer {
  padding: var(--size-600);
}




