.chip {
  padding: var(--size-50) var(--size-300);
  margin-bottom: var(--size-100);
  border-radius: 99999px;
}

.marketing {
  width: max-content;
  background-color: var(--medium-shadow);
}

.manufacturer {
  background-color: var(--clr-accent-300);
}

.product {
  width: max-content;
  color: var(--clr-neutral-200);
  background-color: var(--clr-accent-400);
}