.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 550px;
  padding: var(--size-200) var(--size-200);
  background-color: var(--clr-white);
}

.modal-header {
  padding: var(--size-200);
  font-weight: var(--fw-bold);
}

.modal-footer {
  padding: var(--size-200);
}


.modal-title {
  margin: 0;
  color: var(--clr-primary);
}

.modal-body {
  padding: 10px;
  border-top: 1px solid var(--clr-neutral-200);
  border-bottom: 1px solid var(--clr-neutral-200);
}






