.logo {
  width: 3.7rem;
  margin-right: var(--size-300);
}

.navbar {
  height: var(--size-800);
  background-color: var(--clr-white);
  padding: 0 var(--size-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--lightShadow);
}

.nav-links, a {
  display: flex;
  align-items: center;
  gap: var(--size-300);
  text-transform: uppercase;

  &:hover {
    color: var(--clr-primary);
  }
}

.name {
  margin-right: auto;
  font-weight: var(--fw-semi-bold);
}

@media (max-width: 47em) {
  .name {
    display: none;
  }

	
}


.navItem { 
  color: black;
  
  &.active {
    color: var(--clr-primary);
  }
}
