.logo {
  width: 3.7rem;
}

.navbar {
  height: var(--size-800);
  background-color: var(--clr-white);
  padding: 0 var(--size-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--lightShadow);
}

.nav-links, a {
  display: flex;
  align-items: center;
  gap: var(--size-300);
  text-transform: uppercase;

  &:hover {
    color: var(--clr-primary);
  }
}