.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formControl {
  width: var(--size-small-width);
  max-width: var(--size-width);
  padding: var(--size-500);
}

.box {
  background-color: white;
  box-shadow: var(--light-shadow);
}

.searchList {
  border: 1px solid var(--medium-shadow);
  border-radius: var(--size-100);
  cursor: pointer;

  & li:hover{
    background-color: var(--neutral-shadow);
  }
}

